<h1> landing </h1>
<h1> landing </h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%= container_card('Card Container') do %> 
                    <p> Test contenu de la card bootstrap </p>
                    <p> <%= money_display(50)%></p>
                    <p> <%= boolean_display(true)%></p>
                    <p> <%= boolean_display(false)%></p>
            <%end%>
            <%= container_card('Card Container') do %> 
                    <p> Test contenu de la card bootstrap </p>
                    <p> <%= money_display(50)%></p>
                    <p> <%= boolean_display(true)%></p>
                    <p> <%= boolean_display(false)%></p>
            <%end%>
            <%= container_card('Card Container') do %> 
                    <p> Test contenu de la card bootstrap </p>
                    <p> <%= money_display(50)%></p>
                    <p> <%= boolean_display(true)%></p>
                    <p> <%= boolean_display(false)%></p>
            <%end%>
        </div>
    </div>
</div>
