<%= container_card('Cart') do %>
  <p><%= @cart.user.user_information.full_name %></p>
  <div>Nombre de produits : <%= @cart.total_item %></div>
  <div>
    Liste de produits :
    <% @cart.cart_products.each do |cart_product| %>
      <%= render partial: 'cart_products/show', locals: {cart_product: cart_product} %>
    <% end %>
  </div>
  <p>Total : <%= money_display(@cart.total_amount) %></p>
<% end %>
