<div class="container">
    <div class="row">
        <div class="col-12">
            <%= container_card("Card Container #{@product.name}") do %> 
                <p>Nom : <%= @product.name %> </p>
                <p>Prix : <%= money_display(@product.price)%></p>
                <p>description : <%= @product.description %></p>
                <p>Disponible ? : <%= boolean_display(@product.available)%></p>
                <%= link_to 'Ajouter au Panier', root_path, class:'btn btn-primary'%>
            <%end%>
        </div>
    </div>
</div>
